##  vue header component
<template>
    <ld-header site-name="Fabrica GPT">
    <!-- <ld-icon name="rocket" size="lg" slot="logo"></ld-icon> -->
    </ld-header>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { LdHeader, LdIcon } from '@emdgroup-liquid/liquid/dist/vue'

export default defineComponent({
  name: 'Header',
  components: {
    LdHeader,
    LdIcon,
  },
})
</script>
   


