

<template>
    <DefaultLayout>
        <main class="flex justify-center items-center h-full">
            <LdCard>
                <h1 class="text-3xl font-bold mb-4">Overview</h1>
                <!-- Overview content goes here -->
                <LdButton>Let's Create Metadata</LdButton>
            </LdCard>
        </main>
    </DefaultLayout>
</template>

<script>
import DefaultLayout from "@/layouts/DefaultLayout.vue";
import { LdButton,LdCard, LdTooltip, LdTypo } from '@emdgroup-liquid/liquid/dist/vue';

export default {
    name: 'Home',
    components: {
        DefaultLayout,
        LdCard,
        LdButton,
    },
    // Component logic goes here
}
</script>

<style>
/* Component styles go here */
</style>
            
       