

<template>
    <DefaultLayout>
       <DoiForm />

    </DefaultLayout>
</template>

<script>
import DefaultLayout from "@/layouts/DefaultLayout.vue";
import DoiForm from "@/components/DoiForm/DoiForm.vue";

export default {
    name: 'MetadataForm',
    components: {
        DefaultLayout,
        DoiForm,
    },
    // Component logic goes here
}
</script>

<style>
/* Component styles go here */
</style>
            
       