

<template>
    <DefaultLayout>
        <div class="flex justify-center">
            <div class="flex justify-between w-full max-w-3xl">
                <div class="w-1/3">
                    <router-link to="/feedback">
                        <ld-card shadow-interactive="sticky">
                            <ld-typo class="text-lg font-medium mb-2">Provide Feedback</ld-typo>
                            <ld-typo class="text-gray-600">Feedback form</ld-typo>
                            <ld-typo class="text-gray-600">Submission confirmation</ld-typo>
                            <ld-button mode="highlight">Give Feedback</ld-button>
                        </ld-card>
                    </router-link>
                </div>
                <div class="w-1/3">
                    <router-link to="/social-media">
                        <ld-card shadow-interactive="sticky">
                            <ld-typo class="text-lg font-medium mb-2">Social Media Sharing</ld-typo>
                            <ld-typo class="text-gray-600">Interface to create a tweet</ld-typo>
                            <ld-typo class="text-gray-600">Confirmation of tweet posting</ld-typo>
                            <ld-button mode="highlight">Tweet</ld-button>
                        </ld-card>
                    </router-link>
                </div>
                <div class="w-1/3">
                    <router-link to="/token-request">
                        <ld-card shadow-interactive="sticky">
                            <ld-typo class="text-lg font-medium mb-2">Direct Token Request</ld-typo>
                            <ld-typo class="text-gray-600">Request form</ld-typo>
                            <ld-typo class="text-gray-600">Submission confirmation</ld-typo>
                            <ld-button mode="highlight">Contact Us</ld-button>
                        </ld-card>
                    </router-link>
                </div>
            </div>
        </div>
    </DefaultLayout>
</template>

<script>
import DefaultLayout from "@/layouts/DefaultLayout.vue";
import { LdButton,LdCard, LdTooltip, LdTypo } from '@emdgroup-liquid/liquid/dist/vue';

export default {
    name: "TokenAcquisition",
    components: {
        DefaultLayout,
        LdCard,
        LdButton,
        LdTypo,
    },
    // Component logic goes here
};
</script>

<style>
/* Component styles go here */
</style>

            
       