<template>
    <div>
      <h1>{{ title }}</h1>
      <p>{{ message }}</p>
    </div>
  </template>
  
  <script>
  export default {
    name: 'UserAccount',
    data() {
      return {
        title: 'Hello, world!',
        message: 'This is a basic Vue component.',
      };
    },
  };
  </script>
  