<script lang="ts">
import { url, helpers, required } from '@vuelidate/validators';
import { defineComponent } from 'vue';
import { LdButton, LdInput, LdInputMessage, LdLabel, LdIcon, LdTooltip, LdTypo } from '@emdgroup-liquid/liquid/dist/vue';
import useVuelidate from '@vuelidate/core';

export default defineComponent({
  components: {
    LdButton,
    LdInput,
    LdInputMessage,
    LdLabel,
    LdIcon,
    LdTooltip,
    LdTypo
  },
  setup() {
    return { v$: useVuelidate() };
  },
  data() {
    return {
      url: '',
      title: '',
      description: '',
      subjects: '',
    };
  },
  validations() {
    return {
      url: {
        required: helpers.withMessage('URL is required.', required),
        url: helpers.withMessage('This URL is invalid.', url),
      },
      title: {
        required: helpers.withMessage('Title is required.', required),
      },
      description: {
        required: helpers.withMessage('Description is required.', required),
      },
      subjects: {
        required: helpers.withMessage('Subjects are required.', required),
      },
    };
  },
  methods: {
    onButtonClick(fieldName: string) {
      console.log(`Button clicked for ${fieldName}`);
    },
    onSubmit() {
      this.v$.$touch();
      if (this.v$.$error) {
        alert('The form is invalid!');
      } else {
        alert('Form submitted successfully.');
      }
    },
  },
});
</script>
<style>
.flex-container {
  display: flex;
  /* justify-content: space-between; */
}

.flex-item {
  border: none;
  cursor: pointer;
  margin-right: 10px;
  /* space between the buttons */
}

.flex-item:last-child {
  margin-right: 0;
  /* removes margin from the last button */
}

.pg-btn-primary {
  background-color: brown;
}
</style>
<template>
  <div class="bg-wht rounded-l shadow-hover p-ld-32 block">
    <ld-typo variant="h2" class="mb-ld-32">Enter Data</ld-typo>

    <ld-label class="block mb-4">
      URL
      <div class="flex flex-col">
        <ld-input type="url" placeholder="e.g. https://example.com" v-model="url" v-bind:invalid="v$.url.$error">
          <ld-button slot="end" @click="onButtonClick('URL')">
            <ld-icon name="">
              <font-awesome-icon :icon="['fas', 'wand-sparkles']" />

            </ld-icon>
          </ld-button>
          <ld-input-message v-if="v$.url.$error" mode="error">
            {{ v$.url.$errors[0].$message }}
          </ld-input-message>
        </ld-input>
      </div>
    </ld-label>

    <ld-label class="block mb-4">
      Title
      <div class="flex flex-col">
        <ld-input v-model="title" v-bind:invalid="v$.title.$error">

          <ld-button slot="end" @click="onButtonClick('Title')">
            <ld-icon name="">
              <font-awesome-icon :icon="['fas', 'wand-sparkles']" />
            </ld-icon>
          </ld-button>


          <ld-input-message v-if="v$.title.$error" mode="error">
            {{ v$.title.$errors[0].$message }}
          </ld-input-message>
        </ld-input>
      </div>
    </ld-label>

    <ld-label class="block mb-4">
      Description
      <div class="flex flex-row">
        <div class="flex-item">
          <ld-input v-model="description" multiline cols={80} v-bind:invalid="v$.description.$error">

            <ld-input-message v-if="v$.description.$error" mode="error">
              {{ v$.description.$errors[0].$message }}
            </ld-input-message>
          </ld-input>
        </div>
        <div class="flex-item">
          <ld-button slot="end" @click="onButtonClick('Description')">
            <ld-icon name="">
              <font-awesome-icon :icon="['fas', 'wand-sparkles']" />
            </ld-icon>
          </ld-button>
        </div>
      </div>
    </ld-label>

    <ld-label class="block mb-4">
      Subjects
      <div class="flex flex-col">
        <ld-input v-model="subjects" v-bind:invalid="v$.subjects.$error">

          <ld-input-message v-if="v$.subjects.$error" mode="error">
            {{ v$.subjects.$errors[0].$message }}
          </ld-input-message>
        </ld-input>
      </div>
    </ld-label>

    <div class="mt-4 text-right">
      <div class="flex-container">
        <div class="flex-item">
          <ld-button style="width: 10rem" @click="onMagic" mode="secondary">
            <ld-icon  name="">
              Generate   
              <font-awesome-icon :icon="['fas', 'wand-sparkles']" />
            </ld-icon>
          </ld-button>
        </div>
        <div class="flex-item">
          <ld-button @click="onSubmit">Submit</ld-button>
        </div>
      </div>
    </div>
  </div>
</template>

