<script lang="ts">

import { defineComponent } from 'vue'
import FormLayout from '@/layouts/FormLayout.vue'
import DefaultLayout from '@/layouts/DefaultLayout.vue'
import AuthComponent from '@/components/AuthComponent/AuthComponent.vue'
// import { supabase } from '@/services/supabase/supabase'


// const session = ref()

// onMounted(() => {
//   supabase.auth.getSession().then(({ data }) => {
//     session.value = data.session
//   })

//   supabase.auth.onAuthStateChange((_, _session) => {
//     session.value = _session
//   })
// })

export default defineComponent({
  name: 'App',
  components: {
    FormLayout,
    DefaultLayout,
    AuthComponent
  },
  // data() {
  // }
})
</script>

<template>

    <router-view></router-view>
    <AuthComponent />

</template>



