<template>
  <div>
    <HeaderItem />
    <div class="flex flex-col min-h-screen">
      <main class="relative flex items-center" style="min-height: 80vh">
      <ld-bg-cells class="block absolute inset-0" />
      <div class="container mx-auto px-ld-24 pt-ld-40 pb-24 relative max-w-2xl">
        <slot></slot>
      </div>
    </main>
    <FooterItem />
    </div>
    
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import HeaderItem from '@/components/HeaderItem/HeaderItem.vue'
import FooterItem from '@/components/FooterItem/FooterItem.vue'

export default defineComponent({
  name: 'DefaultLayout',
  components: {
    HeaderItem,
    FooterItem,
  },
})
</script>