<template>
  <div class="flex flex-col min-h-screen">
    <HeaderItem />

    <div class="flex-grow flex flex-row">
      <!-- Left Column -->
      <div class="w-1/2 border-r p-4">
        <slot name="left-column"></slot>
      </div>

      <!-- Right Column -->
      <div class="w-1/2 p-4">
        <slot name="right-column"></slot>
      </div>
    </div>

    <FooterItem />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import HeaderItem from '@/components/HeaderItem/HeaderItem.vue'
import FooterItem from '@/components/FooterItem/FooterItem.vue';

export default defineComponent({
  name: 'TwoColumnsLayout',
  components: {
    HeaderItem,
    FooterItem,
  },
});
</script>

<style scoped>
/* Any additional styles specific to this component can be added here */
</style>
